[% title = 'View Cluster' %]
[% INCLUDE include/header.tt2 %]

<table>
  <thead>
    <th class="clusters"> Cluster </th>
    <th class="media"> Media </th>
    <th class="internal"> Int. Feature </th>
    <th class="external"> Ext. Feature </th>
  </thead>
  <tbody>   
    [% FOREACH cluster IN clusters %]  
       [% FOREACH media IN cluster.value %]                
         <tr [% IF even %]id="even"[% END %]>
          <th class="clusters">[% cluster.key %]</th>
          <td class="media">[% media %]</td>
          <td class="internal"></td>
          <td class="external"></td>
         <tr>
       [% SET even = !even %]
       [% END %]
    [% END %]
  </tbody>
</table>

[% INCLUDE include/footer.tt2 %]